@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{

    
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    @Html.ActionLink("Hallo " + User.Identity.Name , "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage",style="color:#fff;" })
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li>@Html.ActionLink("Mijn winkelmandje", "Index", "Winkelmand", routeValues: null, htmlAttributes: new { title = "Winkelmandje" })</li>
                    <li>@Html.ActionLink("Bestellinghistoriek", "Index", "Bestellinghistoriek", routeValues: null, htmlAttributes: new { title = "Bestellinghistoriek" })</li>
                </ul>
            </div>
           
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log uit</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Registreren", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Aanmelden", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
